form{
	background: #ccc;
	padding: 20px;
	margin-top: 0px;
	width: 400px;
	margin-left: 40px;
}

label{
	width: 30%;
	display: inline-block;
}

 input{
 	width: 60%;
 	height: 25px;
 	display: inline-block;
 	margin-bottom: 10px;
 	border-radius: 10px;
 	border: solid 0px #fff;
 }

 input[type="radio"]{
 	width: 40px;
 }

 button{
 	width: 45%;
 	display: inline-block;
 	height: 40px;
 	line-height: 38px;
 	border-radius: 10px;
 	border: solid 1px #fff;
 }

 .orange{
 	background: orange;
 }

 .green{
 	background: green;
 }

 button:hover{
 	color: white;
 	cursor: pointer;
 }h1{
	color: white;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin-bottom: 0;
	width: 430px;
	margin-top: 40px;
	margin-left: 40px;

}

h1 span:first-child{
	background-color: hsl(0, 100%, 75%);
	height: 35px;
	padding-left: 10px;
	margin-left: 0;
	margin-right: 0;
	line-height: 35px;
	float: left;
	padding-right: 60px;
}

h1 span:last-child{
	width: 0;
	height:	0;
	float: left;
	border-top: solid 17.5px transparent;
	border-bottom: solid 17.5px hsl(0, 100%, 75%);
	border-left: solid 17.5px hsl(0, 100%, 75%);
	border-right: solid 17.5px transparent;
}

form{
	background: #ccc;
	padding: 20px;
	margin-top: 0px;
	width: 400px;
	margin-left: 40px;
}

label{
	width: 30%;
	display: inline-block;
}

 input{
 	width: 60%;
 	height: 25px;
 	display: inline-block;
 	margin-bottom: 10px;
 	border-radius: 10px;
 	border: solid 0px #fff;
 }

 input[type="radio"]{
 	width: 40px;
 }

 button{
 	width: 45%;
 	display: inline-block;
 	height: 40px;
 	line-height: 38px;
 	border-radius: 10px;
 	border: solid 1px #fff;
 }

 .orange{
 	background: orange;
 }

 .green{
 	background: green;
 }

 button:hover{
 	color: white;
 	cursor: pointer;
 }